<div class="row">
  <h1 class="page-header">List of Users</h1>

  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading"><%= fa_icon 'filter', text: 'Filters' %></div>
      <div class="panel-body">
        <%= form_for_filterrific @filterrific, remote: true, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
          <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :with_first_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :with_last_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :profile %>
            <%= f.select :with_profile, User::PROFILES, { include_blank: 'Select a profile' }, { class: 'form-control' } %>
          </div>
          <hr>
          <%= button_tag type: 'submit', class: 'btn btn-success btn-block' do %>
            <%= fa_icon 'search', text: 'Search' %>
          <% end %>
          <%= link_to fa_icon('refresh', text: 'Reset'), reset_filterrific_url, class: 'btn btn-default btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="pull-right">
      <% if can? :new, Product %>
        <%= link_to new_user_path, class: 'btn btn-info' do %>
          <%= fa_icon 'cutlery', text: 'New User'%>
        <% end %>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'list', users: @users %>
      </div>
    </div>
  </div>
</div>
