<div class="row">
  <h1 class="page-header"><%= title %></h1>

  <div class="col-xs-12">
    <%= render 'shared/errors', model: event %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for event do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control'  %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control'  %>
          </div>
          <div class="form-group">
            <%= f.label :finalized_date %>
            <%= f.text_field :finalized_date, class: 'form-control date'  %>
          </div>
          <div class="form-group">
            <%= f.submit class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
