<div class="row">
  <h1 class="page-header">List of Products</h1>

  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading"><%= fa_icon 'filter', text: 'Filters' %></div>
      <div class="panel-body">
        <%= form_for_filterrific @filterrific, remote: true, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
          <div class="form-group">
            <%= f.label :with_name %>
            <%= f.text_field :with_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :with_type %>
            <%= f.select :with_type, product_types, { include_blank: 'Select a type' }, { class: 'form-control' } %>
          </div>
          <div class="form-group">
            <%= f.label :with_category %>
            <%= f.select :with_category, Product::CATEGORIES, { include_blank: 'Select a category' }, { class: 'form-control' } %>
          </div>
          <hr>
          <%= button_tag type: 'submit', class: 'btn btn-success btn-block' do %>
            <%= fa_icon 'search', text: 'Search' %>
          <% end %>
          <%= link_to fa_icon('refresh', text: 'Reset'), reset_filterrific_url, class: 'btn btn-default btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="pull-right">
      <% if can? :new, Product %>
        <%= link_to new_product_path, class: 'btn btn-info' do %>
          <%= fa_icon 'cutlery', text: 'New Product'%>
        <% end %>
      <% end %>
      <% if can? :report, Product %>
        <%= link_to report_products_path, class: 'btn btn-danger', target: '_blank' do %>
          <%= fa_icon 'file-pdf-o', text: 'Report'%>
        <% end %>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'list', products: @products %>
      </div>
    </div>
  </div>
</div>
