<div id="fh5co-featured" data-section="features">
  <div class="container">
    <div class="row text-center fh5co-heading row-padded">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="heading to-animate">Featured Dishes</h2>
        <p class="sub-heading to-animate">Try our most outstanding dishes.</p>
      </div>
    </div>
    <div class="row">
      <div class="fh5co-grid">
        <div class="fh5co-v-half to-animate-2">
          <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/res_img_8.jpg)"></div>
          <div class="fh5co-v-col-2 fh5co-text fh5co-special-1">
            <%= display_data featured_dishes.first %>
          </div>
        </div>
        <div class="fh5co-v-half">
          <div class="fh5co-h-row-2 to-animate-2">
            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/res_img_2.jpg)"></div>
            <div class="fh5co-v-col-2 fh5co-text">
              <%= display_data featured_dishes.second %>
            </div>
          </div>
          <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/res_img_1.jpg)"></div>
            <div class="fh5co-v-col-2 fh5co-text arrow-right">
              <%= display_data featured_dishes.third %>
            </div>
          </div>
        </div>
        <div class="fh5co-v-half">
          <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/res_img_7.jpg)"></div>
            <div class="fh5co-v-col-2 fh5co-text arrow-right">
              <%= display_data featured_dishes.fourth %>
            </div>
          </div>
          <div class="fh5co-h-row-2 to-animate-2">
            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/res_img_6.jpg)"></div>
            <div class="fh5co-v-col-2 fh5co-text">
              <%= display_data featured_dishes.fifth %>
            </div>
          </div>
        </div>
        <div class="fh5co-v-half to-animate-2">
          <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/res_img_3.jpg)"></div>
          <div class="fh5co-v-col-2 fh5co-text fh5co-special-1">
            <%= display_data featured_dishes.last %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>